<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
 
    {% include 'legal_app/common/common_css.html' %}
</head>
<body>

    {% include 'legal_app/common/header.html' %}


    <div class="main-div">


        <div class="w-50 mx-auto" style="background-color: #a8b4cf;margin-top: 100px;">
      <h4 style="text-align: center;color:black; font-size: 18px;">
      At Legal_Easyy, we are committed to delivering expert legal solutions with integrity and dedication.
Our team of experienced advocates and consultants specializes in civil, criminal, corporate, and family law.
We prioritize client satisfaction, clear communication, and ethical representation.
With years of proven success, we strive to protect your rights and achieve the best outcomes.
Trust us to be your reliable legal partner every step of the way.

</h4>
    </div>

    </div>

    
    {% include 'legal_app/common/footer.html'%}
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</body>
</html>